<section class="faqs-page">
  <div class="faqs-page__layout">
    <aside class="faqs-page__form-column">
      <app-faq-form
        [faq]="selectedFaq()"
        [usuarios]="usuarios()"
        [respostas]="respostas()"
        [isSaving]="isSaving()"
        [isDeleting]="isDeleting()"
        [isCreating]="isCreating()"
        [isLoadingUsuarios]="isLoadingUsuarios()"
        [errorMessage]="errorMessage()"
        [successMessage]="successMessage()"
        (save)="onSaveFaq($event)"
        (delete)="onDeleteFaq($event)"
        (deletePermanent)="onDeletePermanent($event._id!)"
        (cancel)="onCancelEdit()"
        (restoreFaq)="onRestore($event)"
      >
      </app-faq-form>
    </aside>

    <section class="faqs-page__list-column">
      <app-faqs-list
        [faqs]="paginatedFaqs()"
        [selectedFaqId]="selectedFaq()?._id ?? null"
        [isLoading]="isLoading()"
        [currentPage]="currentPage()"
        [totalPages]="totalPages()"
        [totalItems]="totalItems()"
        [pageSize]="pageSize()"
        (selectFaq)="onSelectFaq($event)"
        (createNew)="onCreateNew()"
        (pageChange)="onPageChange($event)"
        (nextPage)="onNextPage()"
        (previousPage)="onPreviousPage()"
        (search)="onSearch($event)"
        (deletePermanent)="onDeletePermanent($event)"
      >
      </app-faqs-list>
    </section>
  </div>
</section>
